{%- for name, cfg in snippets.items() %}
({{ name }}) {
{%- for line in cfg %}
    {{ line }}
{%- endfor %}
}
{% endfor %}

{%- for server_name, server_cfg in servers.items() %}
{%- for zone, zone_cfg in server_cfg.get('zones', {}).items() %}
{%- if zone_cfg.get('enabled', True) %}
# {{ server_name }} - {{ zone }}
{{ zone }}{% if server_cfg.get('port') %}:{{ server_cfg.get('port') }}{% endif %} {
{%- if zone_cfg.get('acme', {}).get('enabled', False) %}
    acme {
    {%- for conf in zone_cfg.get('acme').get('config', []) %}
        {{ conf }}
    {%- endfor %}
    {%- for account in zone_cfg.get('acme').get('accounts', []) %}
        {%- for z in account.get('zones', [zone]) %}
        account {{ account.get('username') }} {{ account.get('password_hash', account.get('password')) }} {{ z }} {{ ' '.join(account.get('allowed_ips', [])) }}
        {%- endfor %}
    {%- endfor %}
        fallthrough
    }
{%- endif %}
{%- if zone_cfg.get('notify', []) %}
    transfer {
    {%- for ip in zone_cfg.get('notify') %}
        to {{ ip }}
    {%- endfor %}
    }
{%- endif %}

{%- if not zone_cfg.get('disable_file', False) %}
    file {{ zone_cfg.get('filename', '/etc/coredns/zones/' + server_name +'/db.' + zone) }} {
        reload 60s
    }
{%- endif %}

{%- for conf in zone_cfg.get('config', []) %}
    {{ conf }}
{%- endfor %}
}
{% endif %}
{% endfor %}
{% endfor %}